<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
    <style>
        #typingInput {
            border-top: none;
        }

        #typingInput:hover {
            background: aliceblue;
        }

        #progresss {
            animation-name: progress-animation;
            animation-duration: 100s;
            animation-play-state: paused;
            animation-fill-mode: forwards;
        }

        @keyframes progress-animation {
            25% {
                background: green;
            }
            50% {
                background: orange;
            }
            100% {
                background: red;
            }
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SpeedTyping</a>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/fastFingers/home">Back</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/fastFingers/logout">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/fastFingers/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="height: 70vh">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <div style="max-width: 750px">
            <div class="p-5">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col">
                        <h3 id="timer" class="text-center p-5">50 secondes</h3>
                    </div>
                    <div class="col-3">
                        <div class="d-flex justify-content-center align-items-center h-100">
                            <ul class="list-unstyled float-end">
                                <li>Accuracy : <span id="accuracy">0</span> %</li>
                                <li>Speed : <span id="speed">0</span> WPM</li>
                                <li>Errors : <span id="error">0</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p id="text"></p>
            <div class="progress" style="height: 3px;">
                <div id="progress" class="progress-bar" role="progressbar" style="width: 100%;"></div>
            </div>
            <div id="typingInput" class="form-control w-100 d-flex justify-content-center align-items-center fw-bolder"
                 style="height: 50px">Click here !
            </div>
        </div>
    </div>
</div>


<script>
    const numberWords = 20;
    const API_URL = `https://random-word-api.herokuapp.com/word?number=${numberWords}`;

    const timerElem = document.getElementById("timer");
    const textElem = document.getElementById("text");
    const typingElem = document.getElementById("typingInput");
    const progressElem = document.getElementById("progress");
    const accuracyElem = document.getElementById("accuracy");
    const speedElem = document.getElementById("speed");
    const errorsElem = document.getElementById("error");

    let isStarted = false;
    let isFinished = false;
    let counterMax = 50;
    let counter = counterMax;
    let intervalId = null;

    let words = []
    let currentLetterNumber = 0;

    let wordNumber = 0;
    let errorNumber = 0;
    let keyNumber = 0;
    let correctKeyNumber = 0;

    // INIT ---------------------------------------------------------------------------------

    fetch(API_URL)
        .then(res => {
            res.json().then(value => {
                console.log(value);
                words = value;
                words.map((word, index) => textElem.innerHTML += `<span id="${index}">${word}</span> `);
            })
        })
        .catch(err => {
            console.log(err);
            words = ["officiousnesses", "punkins", "towaway", "senhorita", "bryozoan", "grouse",
                "anoles", "titubant", "readmissions", "canyoninga", "officiousnesses", "punkins",
                "towaway", "senhorita", "bryozoan", "grouse", "anoles", "titubant", "readmissions",
                "canyoningsdq"]
            words.map((word, index) => textElem.innerHTML += `<span id="${index}">${word}</span> `);
        })

    // TRIGGER ---------------------------------------------------------------------------------

    document.addEventListener('keydown', event => {
        if (!isStarted || isFinished) return;

        if (event.code === 'Backspace') {
            if (currentLetterNumber === 0) return;

            currentLetterNumber--;
            typingElem.innerHTML = typingElem.innerHTML.slice(0, -1);
            return;
        }

        if (event.code === 'Space' || event.code === 'Enter') {
            // coloring word
            let color;
            (correction(typingElem.innerHTML.valueOf(), words[wordNumber]))
                ? color = "text-success"
                : color = "text-danger"
            document.getElementById(wordNumber.toString()).classList.add(color);

            // next word + reset
            wordNumber++;
            currentLetterNumber = 0;
            typingElem.innerHTML = '';
            console.log(`errors : ${errorNumber}`)
            handleFinishGame();
            return;
        }

        keyNumber++;
        if (event.key === words[wordNumber][currentLetterNumber]) {
            typingElem.style.borderBottom = 'green solid 1px';
            typingElem.style.borderLeft = 'green solid 1px';
            typingElem.style.borderRight = 'green solid 1px';
            typingElem.innerHTML += event.key
            correctKeyNumber++;
            currentLetterNumber++;
        } else {
            typingElem.style.borderBottom = 'red solid 1px';
            typingElem.style.borderLeft = 'red solid 1px';
            typingElem.style.borderRight = 'red solid 1px';
            errorNumber++;
        }

        handleDetailGame();
    })

    window.addEventListener('keydown', event => {
        if (event.code === 'Backspace') {
            event.preventDefault();
        }
    });

    typingElem.addEventListener('click', () => {
        if (!isStarted) {
            start();
            isStarted = true;
            typingElem.innerHTML = '';
            document.getElementById('progress').style.animationPlayState = "running";
            console.log("GAME START !!!!");
        }
    })

    // TIMER FUNCTIONS ---------------------------------------------------------------------------------

    function start() {
        intervalId = setInterval(bip, 1000);
    }

    function bip() {
        counter--;
        handleProgressBar();
        if (counter == 0) finish();
        else {
            timerElem.innerHTML = counter;
        }
    }

    function finish() {
        clearInterval(intervalId);
        {#timerElem.innerHTML = "TERMINE!";#}
    }

    // ---------------------------------------------------------------------------------

    function correction(asserted, expected) {
        return asserted === expected;
    }

    function handleDetailGame() {
        accuracyElem.innerHTML = calcAccuracy().toString();
        speedElem.innerHTML = calcSpeed().toString();
        errorsElem.innerHTML = errorNumber.toString();
    }

    function handleFinishGame() {
        if (words.length !== wordNumber) return;

        isFinished = true;
        time = counterMax - counter
        accuracy = calcAccuracy();
        speed = calcSpeed();

        console.log(`STATS
        time : ${time}
        errorNumber : ${errorNumber}
        wordNumber : ${wordNumber}
        letterNumber : ${correctKeyNumber}
        accuracy : ${accuracy} %
        speed : ${speed} WPM
        `)
        document.location.href = `/fastFingers/result/${time}/${errorNumber}/${wordNumber}/${correctKeyNumber}/${accuracy}/${speed}`
        finish();
    }

    function handleProgressBar() {
        percentage = Math.floor((counter / counterMax) * 100);
        progressElem.style.width = `${percentage.toString()}%`

        switch (percentage) {
            case 75:
                progressElem.style.background = 'green';
                return;
            case 50:
                progressElem.style.background = 'orange';
                return;
            case 25:
                progressElem.style.background = 'red';
                return;
        }
    }

    function calcAccuracy() {
        return Math.round((correctKeyNumber / keyNumber) * 100)
    }

    function calcSpeed() {
        return Math.floor((keyNumber / 5) / ((counterMax - counter) / 60))
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>