<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SpeedTyping</a>
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="/fastFingers/logout">Logout</a>
                            {% else %}
                                <a class="nav-link" href="/fastFingers/login">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="height: 70vh">
    {% if user.is_authenticated %}
        <div class="row p-5 text-center">
            <p>
                <span class="text-uppercase fw-bolder">{{ user.username }}</span>
                , you successfully logged on SpeedTyping !
            </p>
            <br>
            <div>
                <a href="/fastFingers/game" class="btn btn-success btn-sm" style="width: 100px">play</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center border-end">
                <h4 class="p-2">Ranking</h4>
                <div class="row p-3">
                    <table class="mt-1 table table-dark table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Accuracy</th>
                            <th scope="col">Speed</th>
                            <th scope="col">KeyNumber</th>
                            <th scope="col">WordNumber</th>
                            <th scope="col">Times</th>
                            <th scope="col">Errors</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for party in party_list %}
                        <tr>
                            <th scope="row">{{ party.user }}</th>
                            <td>{{ party.accuracy }}</td>
                            <td>{{ party.speed }}</td>
                            <td>{{ party.keyNumber }}</td>
                            <td>{{ party.wordNumber }}</td>
                            <td>{{ party.time }}</td>
                            <td>{{ party.errorNumber }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col text-center">
                <div class="sticky-top">
                    <h4 class="p-2">Statistics</h4>
                    <div class="row p-3">
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Accuracy</div>
                                <div class="card-body">
                                    {{ avg_acc }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Speed</div>
                                <div class="card-body">
                                    {{ avg_speed }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Key Number</div>
                                <div class="card-body">
                                    {{ avg_keyNb }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Word Number</div>
                                <div class="card-body">
                                    {{ avg_wordNb }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Errors</div>
                                <div class="card-body">
                                    {{ avg_error }}
                                </div>
                            </div>
                        </div>
                        <div class="col-4 p-1">
                            <div class="card">
                                <div class="card-header">Time</div>
                                <div class="card-body">
                                    {{ avg_time }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>