<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>

<div class="container" style="height: 100vh">
    <div class="h-100 d-flex justify-content-center align-items-center">
        <form class="text-center p-3" method="post">
            {% csrf_token %}
            <h3>Login</h3>
            <div class="mb-2 mt-4">
                <input type="text" name="username" placeholder="Username" class="form-control my-1">
                <input type="password" name="password" placeholder="Password" class="form-control my-1">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-sm w-100">
            <a href="/fastFingers/register/" class="float-end fw-lighter mt-1" style="font-size: small">Register</a>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>